:root {
    --background: #A69DA6;

}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

p {
    font-size: 1em;

}

#card {
    margin: auto;
    width: 75%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    border-radius: 25px;
    padding: 10px;
    opacity: 70%;
    background-color: var(--background);
    text-align: center;
    position: relative;
    top: 50%;
}

#footer {
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, 70%);
    margin: 0 auto;
}


#textBody {
    height: auto;
    margin: auto;
    width: 75%;
    white-space: initial;
    overflow-wrap: break-word;
    border-radius: 25px;
    padding: 10px;
    opacity: 70%;
    background-color: var(--background);
    text-align: center;
    transform: translateY(10px);
}

#extra {
    opacity: 0;
    transition: opacity 400ms ease-in-out;
}

#card:hover {
    animation: jiggle 400ms;
}

#card:hover>#extra {
    opacity: 100;
}

#card:hover::after>#extra {
    opacity: 0;
}

@keyframes jiggle {

    from,
    to {
        transform: rotate(0);
    }

    25% {
        transform: rotate(.7deg);
    }

    75% {
        transform: rotate(-.7deg);
    }


}